- EDITION = 2017
- require 'json'
- PRICELIST = JSON.parse File.read("pricelist.json")

!!!5
%html
  %head
    %meta{charset: "UTF-8"}
    %title Bar @ FOSDEM #{EDITION}
    :sass
      /* I know you love hype */
      body
        background-color: pink
  %body
    %h1 Drink && Eat @ FOSDEM #{EDITION}
    
    %h2 Locations
    %h3 Regular bars
    Our regular bars offer a selection of fine belgian beers, sodas, juices and coffee. You can also have pastries and snacks all the day, as well as sandwiches starting from 11:30 AM.
    
    %h4 Janson gallery
    %p Accesible through the H Building/Janson external access, or the doors in the auditorium at mid-height
    %a{href: "geo:50.813186,4.379594", target: "_blank"}
      %img{alt: "Janson map", src: "bar-janson.png"}
    
    %h4 Campouce
    %p Inside the F Building, in the middle of the campus
    %a{href: "geo:50.813637,4.382390", target: "_blank"}
      %img{alt: "Campouce map", src: "bar-campouce.png"}
    
    %h3 Water only
    %h4 K-Building
    %p Stay tuned ...
    %a{href: "geo:50.814773,4.381605", target: "_blank"}
      %img{alt: "K building map", src: "bar-k.png"}

    %h3 Prices
    All our prices are in euros (&euro;) including taxes.
    - PRICELIST.each do |section, items|
      %h4= section
      %dl
        - items.each do |name, price|
          %dt
            %a{href: "##{name.downcase.gsub ' ', '_'}"}= name
          %dd #{price} &euro;
    
    %h3 Empty bottles
    Dozens of blue crates are awaiting the empty bottles you got from the bars all over the campus. Please leave there your beer and mate bottles, and use the regular trashes for other empty liquid containers. Please do not hesitate to tweet
    %a{target: "_blank", href: "https://twitter.com/fosdembar"} @FosdemBar
    in case you find a full crate somewhere.

    %hr
    %h1 Our fine belgian beers
    Wether this is your first time in Belgium or not, there are always plenty of beers to discover. We made a slection of the most representative of them, and provide you with informations on what to expect in the bottle.

    %h2 Blond beers
    %h3#jupiler Jupiler
    The Jupiler is one of 
    %h3#barbar Barbar
    %img{height: 200, alt: "Barbar", src: "beers/barbar.png"}
    %p
      The Barbar is a deep blond with a creamy texture and powerful aroma made by the
      %a{href: "http://www.brasserielefebvre.be/", target: "_blank"} Brasserie Lefebvre.
      For more sweetness, there is a subtle scent of honey that makes this beer unique

    %h3#hopus Hopus
    %img{height: 200, alt: "Barbar", src: "beers/hopus.png"}
    %p
      The Hopus is a blonde beer with pleasing copper reflections and a generous head, also made by the
      %a{href: "http://www.brasserielefebvre.be/", target: "_blank"} Brasserie Lefebvre.
      This beer is derived from a secret recipe for one of the brewers wedding !

    %h3#duvel Duvel
    %h3#grimbergen_blonde Grimbergen blonde
    %h3#leffe_blonde Leffe blonde
    %h3#jambe_de_bois Jambe de Bois

    %h2 Brown beers
    %h3#chimay_bleue Chimay Bleue
    %h3#maredsous_triple Maredsous Triple
    %h3#leffe_brune Leffe Brune
    %h3#westmalle_triple Westmalle Triple

    %h2 Fruits and white beers
    %h3#kriek_lindemans Kriek (Lindemans)
    %h3#blanche_hoegarden Blanche de Hoegarden


    %footer
      %a{href:"http://cerkinfo.be/", target: "_blank"}
        %img{alt: "cerkinfo-logo", src: "http://cerkinfo.be/static/img/nav_brand.png"}
      %em FOSDEMBAR is ran by Cercle Informatique de l'ULB
