-# coding: utf-8
- EDITION = 2017
- require 'json'
- PRICELIST = JSON.parse File.read("pricelist.json")

!!!5
%html
  %head
    %meta{charset: "UTF-8"}
    %title Bar @ FOSDEM #{EDITION}
    %link{rel:"stylesheet", href:"https://fonts.googleapis.com/icon?family=Material+Icons"}
    %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css", media:"screen,projection"}
    %link{rel:"icon", type:"image/png", href:"img/nav_brand.png"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body
    %div.navbar-fixed
      %nav
        %div.nav-wrapper.deep-purple
          %a.brand-logo{href:'#'}
            %img.responsive-img{alt: "cerkinfo-logo", src: "img/nav_brand.png", style: "height: 58px"}
          %ul#nav-mobile.right.hide-on-med-and-down
            %li
              %a{href:"#prices"} Prices
            %li  
              %a{href:"#locations"} Where to find us
            %li
              %a{href:"#beers"} The beers
    %div.container
      %h1 Drink && Eat @ FOSDEM #{EDITION}
      %div.section#prices
        %div.row
          %h2 Prices
          %p.flow-text
            All our prices are in euros (&euro;) including taxes.
        - PRICELIST.each_slice(3) do |r|
          %div.row
            - r.each do |section|
              %div.collection.with-header.col.l4.s12.z-depth-3
                %div.collection-header
                  %h4= section['category']
                - section['content'].each do |item|
                  %a.collection-item{href: "##{item['name'].downcase.gsub ' ', '_'}"}
                    = item['name']
                    %div.secondary-content
                      #{item['price']}
                      €
    
        %div.row
          %p.flow-text
            You can also download a
            %a{href: "menu.pdf", target: "_blank"} printable version
            of our prices
        %div.row
          %h3 Empty bottles
          %p.flow-text
            Dozens of blue crates are awaiting the empty bottles you got from the bars all over the campus. Please leave there your beer and mate bottles, and use the regular trashes for other empty liquid containers. Please do not hesitate to tweet
            %a{target: "_blank", href: "https://twitter.com/fosdembar"} @FosdemBar
            in case you find a full crate somewhere.
      %div.divider
      %div.section#locations
        %div.row
          %h2 Locations
          %h3 Regular bars
          %p.flow-text
            Our regular bars offer a selection of fine belgian beers, sodas, juices and coffee. You can also have pastries and snacks all the day, as well as sandwiches starting from 11:30 AM.
        %div.row
          %div.col.l6.m12
            %h4 Janson gallery
            %p.flow-text
              Accesible through the H Building/Janson external access, or the doors in the auditorium at mid-height
            %a{href: "geo:50.813186,4.379594", target: "_blank"}
            %img{width:450, alt: "Janson map", src: "maps/bar-janson.png"}

          %div.col.l6.m12
            %h4 Campouce
            %p.flow-text
              Inside the F Building, in the middle of the campus
            %a{href: "geo:50.813637,4.382390", target: "_blank"}
            %img{width:450, alt: "Campouce map", src: "maps/bar-campouce.png"}
        %div.row
          %h3 Water only
          %h4 K-Building
        %div.row
          %div.col.l6.m12 
            %p.flow-text
              Stay tuned ...
            %a{href: "geo:50.814773,4.381605", target: "_blank"}
              %img{width:450, alt: "K building map", src: "maps/bar-k.png"}
      %div.divider
      %div.section#beers
        %div.row
          %h2 Our fine belgian beers
          %p.flow-text
            Wether this is your first time in Belgium or not, there are always plenty of beers to discover. We made a representative selection of them, and provide you with informations on what to expect in the bottle.
          - PRICELIST.each do |section|
            - if section['expand']
              %div.row
                %h2 #{section['category']}
                - section['content'].each_slice(3) do |r|
                  %div.row
                    - r.each do |item|
                      %div.card.small.col.l4.m6.s12.z-depth-3{id: "#{item['name'].downcase.gsub ' ', '_'}"}
                        %div.card-image.waves-effect.waves-block.waves-light
                          %img.responsive-img.activator{style: "height: 200px; width:auto;", alt: "#{item['name']}", src: "beers/#{item['name'].downcase.gsub ' ', '_'}.png"}
                        %div.card-content
                          %span.card-title.activator.grey-text.text-darken-4
                            = item['name']
                            \ (#{item['alcool']}°)
                            %i.material-icons.right
                              more_vert
                        %div.card-reveal
                          %span.card-title.grey-text.text-darken-4
                            = item['name']
                            \ (#{item['alcool']}°)
                            %i.material-icons.right
                              close
                          %p.flow-text
                            #{item['description']}
    %footer.page-footer.deep-purple
      %div.footer-copyright
        %div.container
          %p.flow-text
            %a{href:"http://cerkinfo.be/", target: "_blank"}
              %img{alt: "cerkinfo-logo", src: "img/nav_brand.png"}
            %em FOSDEMBAR is ran by Cercle Informatique de l'ULB

  %script(src="https://code.jquery.com/jquery-2.1.1.min.js")
  %script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")
